.menu {

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;



    &__container {
        display: flex;
        justify-content: center;
        position: relative;
        background-color: var(--primary-color);


        .box {
            border: 15px solid #A4BE7B;
            position: absolute;
            background-color: #5F8D4E;
            width: 650px;
            height: max-content;
            top: 20px;
            //border: solid black 1px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            gap: 20px;
            align-content: flex-start;



            .item {
                margin-top: 3%;

                img {

                    width: 120px;
                    height: 180px;
                }

                .itemTitle {
                    text-align: center;
                }
            }

        }
    }
}