    .logincontainer {
        background-color: var(--primary-color);
        height: min($numbers: 1024px);
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 5%;

        .wrapper {
            width: 30%;
            height: max-content;
            background-color: white;
            border-right: solid 3px rgba(0, 0, 0, .5);
            border-bottom: solid 2px rgba(0, 0, 0, .3);
            display: flex;
            flex-direction: column;

            img {
                height: 150px;
                width: 100px;
                border-radius: 50%;
                margin: 10px auto;
            }

        }
    }

    .welcome {
        text-align: center;
        font-weight: bold;

        p {
            font-weight: 400;
            padding-top: 5px;
        }
    }

    .form {
        width: 80%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 10px auto;
        //  background-color: green;

        input {
            border: none;
            height: 40px;
            background-color: #d9d9d9;
            width: 70%;
            outline: none;
            margin: 3px auto;
            text-align: center;
        }



        button {
            height: 40px;
            border-radius: 50%;
            border: none;
            background-color: #a4be7b;
            font-weight: 600;
            margin-top: 13%;
            cursor: pointer;
        }
    }

    .registerLink {
        font-size: 14px;
        margin-top: 10px;

        span {
            font-weight: bold;
        }
    }